<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="KanbanMaster.Master.cs"
    Inherits="SKT.LeanMES.Web.Masters.Kanban" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href="../Content/Main.css" rel="stylesheet" type="text/css" />
    <link href="../Content/icon-all.css" rel="stylesheet" type="text/css" />
    <link href="../Content/plugin/dialog/skin/default/dialog-1.0.3.css" rel="stylesheet"
        type="text/css" />
    <!--[if gte IE 9]>
    <link href="../Content/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="../Content/theme/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="<%=SKT.LeanMES.Web.WebHelper.WebRoot %>/Content/js/jquery.min.js" type="text/javascript"></script>
    <%--<script src="../Content/Kanban/echarts.js" type="text/javascript"></script>--%>
    <script src="../Content/plugin/echarts/echarts.min.js" type="text/javascript"></script>
    <script src="../Content/plugin/highCharts/highcharts.js" type="text/javascript"></script>
    <script src="../Content/plugin/highCharts/highcharts-3d.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../Content/theme/bootstrap/js/respond.js"></script>
    <![endif]-->
    <script src="<%=SKT.LeanMES.Web.WebHelper.WebRoot %>/Content/plugin/dialog/js/jPlugin-dialog-2.0.js"
        type="text/javascript"></script>
    <script src="<%=SKT.LeanMES.Web.WebHelper.WebRoot %>/Content/js/skt.common.js" type="text/javascript"></script>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
        <script src="<%=SKT.LeanMES.Web.WebHelper.WebRoot %>/Content/js/skt.utility.entertotab.min.js"
            type="text/javascript"></script>
        <link href="../Content/plugin/tabs/tabs.css" rel="stylesheet" type="text/css" />
        <script src="<%=SKT.LeanMES.Web.WebHelper.WebRoot %>/Content/plugin/tabs/jPlugin-tabs.js"
            type="text/javascript" id="masterJsTab"></script>

    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        var floatButtons = null;
        var _close = "<%=Resources.Common.Close %>";
        var _resizewin = "<%=Resources.lang.ResizeWin %>";
        var _dialogwin = "<%=Resources.lang.PopWin %>";
        var _help = "<%=Resources.Common.Help %>";
        var _dataLoading = "<%=Resources.Messages.DataLoading %>";
        var printInProcess = "<%=Resources.Messages.PrintInProcess %>";
        var NoLabelTemplate = "<%=Resources.Messages.NoLabelTemplate %>";
        var _root = "<%=SKT.LeanMES.Web.WebHelper.WebRoot %>";
        var _port="<%=System.Configuration.ConfigurationManager.AppSettings["WebSocketPort"]%>";
        var _isHms = false;
        var _lang = "<%=SKT.LeanMES.Web.WebHelper.GetCurrentCulture() %>";

        /*加载按钮*/
        function loadButtons(buttons) {
            var strButtons = "";
            for (var i = 0; i < buttons.length; i++) {
                strButtons += "<div class=\"toolbar-btn\" onclick=\"" + InitHander(buttons[i].Handler) + "\" title=\"" + buttons[i].Tooltip + "\"><div class=\"icon-16-" + buttons[i].Icon + "\"></div><div class=\"btn-text\">" + buttons[i].Text + "</div></div>";
                if (i != buttons.length - 1) {
                    strButtons += "<div class=\"btn-line\"></div>";
                }
            }
            if (buttons.length > 0) {
                $("#toolbar").html(strButtons + "<div class=\"clear0\"></div>");
                $("#toolbar").addClass("toolBar");
            }
        }

        function Help() {
            window.open("../Help/Help.htm?helppage=" + getQueryString("name"));
        }

        /*Starry 2015.4.25----------用于提交验证-------------*/
        /*动态加载Handler*/
        function InitHander(handler) {
            if (handler.toUpperCase() == "SAVE()") {
                return "SavePlus()";
            }
            return handler;
        }

        /*增强保存的验证*/
        function SavePlus() {
            if (SubmitValidation()) {
                Save();
            }
        }


        /*---------------------------------------------------*/

        $(function () {
            var h = 34;
            var toolBar = document.getElementById("toolbar").innerHTML;
            if (toolBar.indexOf("toolbar-btn") == -1) {
                h = 5;
            }
            $("#leanmescontent").height($(window).height() - h);
            $(window).resize(function () { $("#leanmescontent").height($(window).height() - h); });
        });

        $(document).ready(function () {
            /*自动添加帮助按钮 Add By Alen 2016-06-29*/
            var toolbarHtml = $("#toolbar").html();
            $(function () {
                document.onkeydown = function () {
                    var curKey = 0, e = e || window.event;
                    curKey = e.keyCode || e.which || e.charCode;
                    if (e.ctrlKey && curKey == 83) {
                        Save();
                        return false;
                    }
                };
            });

            //if ("undefined" != typeof (buttons)) {
            //    var btns = "";
            //    for (var i = 0; i < buttons.length; i++) {
            //        if (buttons[i].Handler == "Help()") {
            //            btns = buttons[i].Handler.replace("()", "");
            //            break;
            //        }
            //    }
            //    if (btns == "") {
            //        var btnHtml = "<div class=\"btn-line\"></div><div class=\"toolbar-btn\" onclick=\"Help()\" title=\"帮助\"><div class=\"icon-16-help\"></div><div class=\"btn-text\">帮助</div></div>";
            //        $("#toolbar .clear0").before(btnHtml);
            //    }
            //}
        });

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    </script>
    <script src="<%=SKT.LeanMES.Web.WebHelper.WebRoot %>/Content/js/skt.utility.formvalidation.js"
        type="text/javascript"></script>
    <script src="<%=SKT.LeanMES.Web.WebHelper.WebRoot %>/Content/js/skt.utility.validation.js"
        type="text/javascript"></script>
</head>
<body style="padding: 0px; margin: 0px;">
    <!--底部阴影 开始-->
    <div class="shadowdiv" id="shadowdiv">
    </div>
    <!--工具条 开始-->
    <div id="toolbar">
    </div>
    <div id="leanmescontent" style="overflow: auto; padding: 2px;">
        <form id="form1" runat="server">
        <asp:HiddenField ID="hdnCsrfToken" runat="server" />
        <input type="hidden" id="<%=SKT.LeanMES.Web.AppCode.Utility.AntiXSRFHelper.AntiXsrfTokenKey %>" name ="<%=SKT.LeanMES.Web.AppCode.Utility.AntiXSRFHelper.AntiXsrfTokenKey %>" value="<%=hdnCsrfToken.Value %>" />
        <!--内容页面 开始-->
        <asp:ContentPlaceHolder ID="EditContent" runat="server">
        </asp:ContentPlaceHolder>
        </form>
    </div>
</body>
</html>
