body,html
{
    font-family:Verdana, 微软雅黑,黑体, 宋体;
    font-size:12px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    background:#faf9f9;
}
.clear10{clear:both; height:10px;}
.clear25{clear:both; height:25px;}
.help-page-title
{
    position:relative;
    margin-top:10px;
    height:30px;
}
.help-line
{
    height:20px; width:3px; background:#0b82c6; position:absolute; left:0px; top:0px;
}
.title-text
{
    line-height:20px;font-size:16px; font-family:Verdana, 微软雅黑,黑体, 宋体; font-weight:bold; position:absolute; left:10px; top:0px;
}

.help-field-desc{border-top:3px solid #0b82c6; border-bottom:1px solid #DBDBDB;border-left:1px solid #DBDBDB;border-right:1px solid #DBDBDB; min-height:300px; background:#ffffff; border-radius:0px 0px 4px 4px;}
.field-desc{height:40px; border-bottom:2px solid #DBDBDB; position:relative;}
.field-desc-title{position:absolute; left:20px; top:0px; line-height:40px;font-size:16px; font-family:Verdana, 微软雅黑,黑体, 宋体; font-weight:bold; color:#0b82c6;}
.field-desc-content{padding:5px;}

.help-fun-desc{border-top:3px solid #0b82c6; border-bottom:1px solid #DBDBDB;border-left:1px solid #DBDBDB;border-right:1px solid #DBDBDB; min-height:300px; background:#ffffff; border-radius:0px 0px 4px 4px;}
.fun-desc{height:40px; border-bottom:2px solid #DBDBDB; position:relative;}
.fun-desc-title{position:absolute; left:20px; top:0px; line-height:40px;font-size:16px; font-family:Verdana, 微软雅黑,黑体, 宋体; font-weight:bold;color:#0b82c6;}
.fun-desc-detail{padding:10px 10px 10px 20px;}
.fun-desc-detail-list{padding:10px 10px 10px 20px; font-family:Verdana, 微软雅黑,黑体, 宋体; font-size:14px;}
.list-title{font-weight:bold;color:#0b82c6;}
.list-detail{font-weight:normal; margin-left:20px;font-size:12px; line-height:22px;}
.fileupload{ height:50px; width:600px;}
.button{height:50px; width:120px;}
.message{ font-family:Verdana, 微软雅黑,黑体, 宋体; font-size:12px; color:Red;}
.list-img{margin-left:20px;font-size:12px; line-height:22px;}