<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <!--NLog配置-开始-->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--写日志到文件-->
      <target name="debugLogfile" xsi:type="File" fileName="${basedir}/logs/${date:format=yyyyMM}/${date:format=yyyyMMdd}_debug.log" layout="${longdate} ${message}"/>
      <!--写日志到数据库-->
      <!--<target type="Database" name="database" connectionstring="server=192.168.2.100\sql2019;uid=skt_zhuxi;pwd=Sktzx@2024;database=LeanMES_8_5_7_SDYC;;Max Pool Size = 512;">-->
      <target type="Database" name="database" connectionstring="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600">
        <commandText>
          INSERT INTO NLog_Log([CreateDate],[Origin],[LogLevel],[Message],[Exception],[StackTrace]) VALUES (@CreateDate,@Origin,@LogLevel,@Message,@Exception,@StackTrace);
        </commandText>
        <!--日志发生时间-->
        <parameter name="@CreateDate" layout="${longdate}"/>
        <!--日志来源-->
        <parameter name="@Origin" layout="${callsite}"/>
        <!--日志等级-->
        <parameter name="@LogLevel" layout="${level}"/>
        <!--日志信息-->
        <parameter name="@Message" layout="${message}"/>
        <!--异常信息-->
        <parameter name="@Exception" layout="${exception}"/>
        <!--日志来源-->
        <parameter name="@StackTrace" layout="${stacktrace}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugLogfile"/>
      <logger name="*" appendTo="database"/>
    </rules>
  </nlog>
  <!--NLog配置-结束-->
  <appSettings>
    <add key="ConnStringEncrypt" value="false"/>
    <!--<add key="SYSConnString" value="server=192.168.2.100\sql2019;uid=skt_zhuxi;pwd=Sktzx@2024;database=LeanMES_8_5_7_SDYC;"/>
    <add key="MESConnString" value="server=192.168.2.100\sql2019;uid=skt_zhuxi;pwd=Sktzx@2024;database=LeanMES_8_5_7_SDYC;"/>
    <add key="ReportConnString" value="server=192.168.2.100\sql2019;uid=skt_zhuxi;pwd=Sktzx@2024;database=LeanMES_8_5_7_SDYC;"/>
    <add key="ReportConnStringNew" value="server=192.168.2.100\sql2019;uid=skt_zhuxi;pwd=Sktzx@2024;database=LeanMES_8_5_7_SDYC;"/>-->
    <add key="SYSConnString" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>
    <add key="MESConnString" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>
    <add key="ReportConnString" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>
    <add key="ReportConnStringNew" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>
    <add key="Token" value="DACEA-SKTMES-2020-DATA"/>
    <!--定时同步频率（分钟）如果为空，则默认10分钟-->
    <add key="SyncFrequency" value="10"/>
    <!--是否集团总部（1：总部 0：子工厂）-->
    <!--<add key="GroupHeadquartersFlag" value="1" />-->
    <!--<add key="GroupHeadquartersFlag" value="0" />-->
    <!--子工厂工厂代码（如果GroupHeadquartersFlag配置为1，则此处可以为空，否则不能为空）-->
    <!-- 101：总部  217：子工厂-->
    <!--<add key="SubFactory" value="217" />-->
    <!--<add key="SubFactory" value="JX" />-->
    <add key="GroupHeadquartersFlag" value="1"/>
    <add key="SubFactory" value="217"/>
    <!--<add key="GroupHeadquartersFlag" value="0" />
    <add key="SubFactory" value="JX" />-->
    <!--秘钥-->
    <add key="EncryptKey" value=")(4AzEdr5J6a`@#$*%"/>
    <!--是否使用简单参数模式（权重高于签名模式，不管是否开启签名，只要启用简单参数模式，接口将忽略签名和token验证）-->
    <add key="IsEasyParamMode" value="true"/>
    <!--是否使用数据签名-->
    <add key="IsSign" value="false"/>
    <!--响应结果是否使用数据签名-->
    <add key="IsResponseSign" value="false"/>
    <!--是否使用Token授权-->
    <add key="IsAuth" value="false"/>
    <!--是否调试模式-->
    <add key="IsDebug" value="true"/>
    <!--YonBIP开放平台 接口地址-->
    <add key="YonBIPUrl" value="http://..."/>
    <!--YonBIP开放平台 appKey-->
    <add key="YonBIPAppKey" value="fdaf1be0850646acb92efa500c072680"/>
    <!--YonBIP开放平台 app密钥-->
    <add key="YonBIPAppSecret" value="2f57bd2e3ad3496284a78d9b8838d683"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>