<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnStringEncrypt" value="false" />
    <!--文件被使用或者是文件大小小于设置值的，线程停顿时间，默认是1秒-->
    <add key="ATEFileSleepTime" value="1" />
    <!--文件大小的最小值，只有大于这个值的文件才会被解析,单位是KB，默认是5KB-->
    <add key="MinFileSize" value="0" />
    <!--<add key="MESConnString" value="Data Source=sktmes003\mssqlserver12;database=LeanMES_8_6_0;uid=SKTDEVTEST;pwd=Windows_201*;" />-->
    <!--<add key="MESConnString" value="Data Source=sktmes004;database=LeanMES_8_5_3_TOPBAND;uid=sa;pwd=Skt@1234;timeout=500" />-->
    <!--<add key="MESConnString" value="Data Source=192.168.30.113;database=LeanMES_8_5_3_TEST1;uid=sa;pwd=tbsql0539!;timeout=500" />-->
    <add key="MESConnString" value="server=172.16.5.144;uid=sa;pwd=SAsa123;database=LeanMes;Pooling=True;max pool size=500;Connect Timeout=600" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="JobExecIntervalInSecond" value="90" />
    <add key="MonitorDir" value="C:\Engel\Euromap63\System\Access\MACHINES" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>