<?xml version="1.0"?>
<configuration>
	<!--
    *************************************************郑重声明*********************************************************

                        该web.config文件中的参数非技术人员请不要随意修改。
                        如果需要修改请求助相关技术人员协助，对此文件内容的修改会影响系统运行，请慎重！！
                    
    ******************************************************************************************************************
    
    1、LeanMES 8.5可以实现多数据库操作与管理，通过配置不同的数据库链接可实现生产数据库和报表数据库分离(配合数据库后台配置可实现读写分离)；
    数据库连接字符加密说明：数据库连接字符可在页面上进行配置，如无特殊情况不要手动修改web.config中的数据库连接字符；
    
    2、LeanMES 系统级数据库链接，此连接非常重要，初始化时可以在web.config中配置，在页面上已禁用此链接的配置，否则可能会无法登录系统
        如果ConnStringEncrypt参数为true，则系统链接需要手动加密(加密工具位置：系统根目录\DBTools\Lean MES 数据库链接加密工具.exe)
        数据库链接字符格式："server=数据库服务器名;uid=数据库用户名;pwd=数据库用户密码;database=数据库名";
    3、"ExcelConnString"为Excel链接字符，系统中的数据导入导出需要使用此链接，此链接不需要作任何修改;
    d9FyAnUyNtX+z/OLf9s62a1SqrpyWEp0FRxFXoMytftu5v2Mv60oQQ4a7jrFkmF9tIe1zyzk9KKjdNAlTJddlwjyhB5AYBZZGWoZ+cYMCUlxrdXGBJpbiQ==
    SKTMES003\MSSQLSERVER12,51565;uid=SKTDEVTEST;pwd=123456;database=SKTMES_8_5;
    <add key="SYSConnString" value="server=SKTMES003\MSSQLSERVER12,51565;uid=SKTDEVTEST;pwd=123456;database=LeanMES_8_5_0;" />
    <add key="MESConnString" value="server=SKTMES003\MSSQLSERVER12,51565;uid=SKTDEVTEST;pwd=123456;database=LeanMES_8_5_0;" />
    <add key="ReportConnString" value="server=SKTMES003\MSSQLSERVER12,51565;uid=SKTDEVTEST;pwd=123456;database=SKTMES_8_5;" />
    <add key="ReportConnStringNew" value="server=SKTMES003\MSSQLSERVER12,51565;uid=SKTDEVTEST;pwd=123456;database=LeanMES_8_5_0;" />
    -->
	<appSettings>
		<add key="AllowRequestURL" value="http://localhost:23884,http://www.cloudmes.com"/>
		<add key="SQLErrorTipFlag" value="1"/>
		<add key="ConnStringEncrypt" value="false"/>
		<add key="SYSConnString" value="server=172.16.5.179;uid=sa;pwd=SAsa123;database=LeanMes_Test;Pooling=True;max pool size=500;Connect Timeout=600" />
		<add key="MESConnString" value="server=172.16.5.179;uid=sa;pwd=SAsa123;database=LeanMes_Test;Pooling=True;max pool size=500;Connect Timeout=600" />
		<add key="ReportConnString" value="server=172.16.5.179;uid=sa;pwd=SAsa123;database=LeanMes_Test;Pooling=True;max pool size=500;Connect Timeout=600" />
		<add key="ReportConnStringNew" value="server=172.16.5.179;uid=sa;pwd=SAsa123;database=LeanMes_Test;Pooling=True;max pool size=500;Connect Timeout=600" />
		<!--<add key="SYSConnString" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>
    <add key="MESConnString" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>
    <add key="ReportConnString" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>
    <add key="ReportConnStringNew" value="server=192.168.2.100\sql2019;uid=ltm_wufengwen;pwd=skt@2024;database=LeanMES_8_5_7_SDYC;Pooling=True;max pool size=500;Connect Timeout=600"/>-->
		<!--<add key="SYSConnString" value="server=172.16.5.144;uid=sa;pwd=SAsa123;database=LeanMes;Pooling=True;max pool size=500;Connect Timeout=600" />
    <add key="MESConnString" value="server=172.16.5.144;uid=sa;pwd=SAsa123;database=LeanMes;Pooling=True;max pool size=500;Connect Timeout=600" />
    <add key="ReportConnString" value="server=172.16.5.144;uid=sa;pwd=SAsa123;database=LeanMes;Pooling=True;max pool size=500;Connect Timeout=600" />
    <add key="ReportConnStringNew" value="server=172.16.5.144;uid=sa;pwd=SAsa123;database=LeanMes;Pooling=True;max pool size=500;Connect Timeout=600" />-->
		<!--<add key="SYSConnString" value="server=SKTMES009;uid=SKTDEVTEST;pwd=123456;database=LeanMES_8_5_7;Pooling=True;max pool size=500;Connect Timeout=600" />
    <add key="MESConnString" value="server=SKTMES009;uid=SKTDEVTEST;pwd=123456;database=LeanMES_8_5_7;Pooling=True;max pool size=500;Connect Timeout=600" />
    <add key="ReportConnString" value="server=SKTMES009;uid=SKTDEVTEST;pwd=123456;database=LeanMES_8_5_7;Pooling=True;max pool size=500;Connect Timeout=600" />
    <add key="ReportConnStringNew" value="server=SKTMES009;uid=SKTDEVTEST;pwd=123456;database=LeanMES_8_5_7;Pooling=True;max pool size=500;Connect Timeout=600" />-->
		<add key="Referer"/>
		<add key="SessionTimeOut" value="200"/>
		<add key="MaxLabelCount" value="200"/>
		<add key="FilePath" value="OnlineService"/>
		<add key="FileAdd" value="D:\LeanMES\UploadFiles\"/>
		<add key="vs:EnableBrowserLink" value="false"/>
		<add key="LockMatPrintDate" value=""/>
		<add key="IsLoading" value="1"/>
		<add key="IsAjaxPull" value="0"/>
		<add key="CustomerLogo" value=""/>
		<!--企业微信配置：企业ID-->
		<add key="CorpID" value="ww9c62e66c3881ffd7"/>
		<!--企业微信配置：应用ID-->
		<add key="AgentId" value="1000019"/>
		<!--企业微信配置：应用密钥（Secret）-->
		<add key="Secret" value="c77o5lVpSZjG_CtZiJEvPa-Lb_AVIjxBceX7N2M2SY4"/>
		<add key="ContactsSecret" value="KWDvObCBxgqtLBzvRCPmPbyduH1QIJypBaWbeyrGlD4"/>
		<add key="SockUrl" value="127.0.0.1:2018"/>
		<add key="WebSocketPort" value="53817"/>
		<add key="WebSafeSet" value="{&quot;sql&quot;:1,&quot;xss&quot;:1,&quot;auth&quot;:1,&quot;csrf&quot;:300,&quot;formAuth&quot;:0,&quot;csrf-token&quot;:0}"/>
		<add key="PrintType" value="2"/>
		<add key="PrintSendQty" value="120"/>
		<add key="PreviewConfig" value="20;true"/>
		<!--并发用户超时时间(分钟)-->
		<add key="ConcurrentUserTimeout" value="5"/>
		<!--并发用户是否校验供应商用户（0:不校验 1：校验）-->
		<add key="IsCheckSupplierUser" value="0"/>
		<!--对应版本，留空不显示-->
		<add key="Version" value="8.5.7"/>
		<!--对应渠道版分支，经典版、冲锋版、精英版，配置在版本字段【Version】之前，留空不显示-->
		<!--版本名称冗余是因为登录页面要求配置版本字样排版不一-->
		<add key="ChannelVersionName" value=""/>
		<!--对应系统版本名称，专业版、开发版，配置在配置在版本字段【Version】之后，留空不显示-->
		<!--版本名称冗余是因为登录页面要求配置版本字样排版不一-->
		<add key="VersionName" value="标准版"/>
		<add key="GroupVersionName" value="集团版"/>
		<!--对应软件系统名称，留空不显示-->
		<add key="SoftwareName" value="深科特精益生产制造执行系统"/>
		<!--是否启用电子货架(0:不启用 1:启用)-->
		<add key="EnaleEShelf" value="0"/>
		<!--电子货架API地址-->
		<add key="EShelfAPIUrl" value="http://172.16.50.39:8080"/>
		<!--电子货架厂商-->
		<add key="EShelfManufacturer" value="MAES"/>
		<!--电子货架MAES厂商的认证用户-->
		<add key="EShelf_MAES_AuthorizedUser" value="admin:admin"/>
		<!--采集过站，OK时播放声音 （0：不播放 1：播放）-->
		<add key="PlaySoundPass" value="1"/>
		<!--模板文件后缀名集合-->
		<add key="UpdateTemplateFileExt" value=".btw|.lab|.zpl|.postek"/>
		<!--是否清理无效的模板文件(在删除模板文件的时候触发)-->
		<add key="IsCleanTemplateFiles" value="1"/>
		<add key="FontFamilysCacheTime" value="60"/>
		<!--回写ERP：接口地址-->
		<add key="ERPWriteUrl" value="http://172.16.5.179:8099/default.aspx"/>
		<!--回写ERP：接口服务名（ 10102是东莞汽配  10103是动力电池（广州新能源） 10104是宜宾  用于区分ERP生产环境、测试环境接口地址！！！，去掉_Test就是生产环境）-->
		<add key="ERPServerName" value="_10102_Test"/>
		<!--回写ERP：节点数据包完整性验证码（用于验证节点数据包的完整性，该值为整个request-body参数的32位大写MD5字符串，该参数验证开关来源为e智联节点配置安全配置节点数据包完整性验证（MD5码））-->
		<add key="ERPMD5" value=""/>
		<!--回写ERP：许可码（当前节点启用访问许可验证时，则需要传入。该参数来源为e智联节点配置安全配置节点许可码）-->
		<add key="ERPAuthCode" value=""/>
		<!--回写ERP：服务类型：1000测试通信，1001同步，2001异步无序，2002异步有序-->
		<add key="ERPsType" value="1001"/>
		<!--钉钉参数信息-开始-->
		<!--AppKey是企业内部应用的唯一身份标识-->
		<add key="DingTalkAppKey" value="dingw9nohjbxwocwfhmz"/>
		<!--AppSecret是对应的调用密钥-->
		<add key="DingTalkAppSecret" value="JikAXu4D6nCRIJM0NyujHQmlO03jMwOAiTJT8xlcF3dbrtnpX3fkm-hkpMvj_dKV"/>
		<!--每个应用都拥有唯一的AgentId。企业在钉钉开发者后台创建应用时，或者在企业授权开通第三方企业应用时，系统会自动生成一个AgentId-->
		<add key="DingTalkAgentId" value="3080096037"/>
		<!--钉钉参数信息-结束-->
		<!--AGV访问地址-->
		<add key="AgvUrl" value="http://172.16.15.216:9123/agvs"/>
		<!--U9C相关参数-->
		<add key="U9CUrl" value="http://172.16.5.155:55535/U9C"/>
		<add key="U9Cclientid" value="U9MES"/>
		<add key="U9Cclientsecret" value="6f0218d243ff49f4be5a0e5203cfdc52"/>
		<add key="U9CentCode" value="666"/>
		<add key="U9CuserCode" value="demo"/>
		<add key="U9CorgCode" value="0105"/>

		<!--U9打开工单-->
		<add key="U9TokenUrl" value="http://172.16.5.155:55535/U9C//webapi/OAuth2/AuthLogin"/>
		<add key="U9ClientId" value="U9MES"/>
		<add key="U9ClientSecret" value="6f0218d243ff49f4be5a0e5203cfdc52"/>
		<add key="U9EntCode" value="666"/>
		<add key="U9UserCode" value="demo"/>
		<add key="U9OrgCode" value="0105"/>
		<add key="U9ApiUrl_MODoc_CompleteMo" value="http://172.16.5.155:55535/U9C/webapi/MODoc/CompleteMo"/>
		<add key="U9ApiUrl_MODoc_enterpriseID" value="0105"/>
		<add key="AllowedExtensions" value=".jpg|.jpeg|.png|.gif|.doc|.docx|.pdf|.xls|.xlsx|.txt" />
		<!--U9盘点单相关参数-->
		<add key="ERPWriteUrlInventoryList" value="http://rcpdd.rmmes.com/u9_rcpd.aspx" />
		<add key="orgCode" value="0105" />
		<add key="orgID" value="1002407120111024" />
		<add key="userId" value="1002407120112127" />
		<add key="enterpriseID" value="666" />

		<!--文件上传格式-->
		<add key="AllowedExtensions" value=".jpg|.jpeg|.png|.gif|.doc|.docx|.pdf|.xls|.xlsx|.txt"/>
	</appSettings>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.8"/>
		<httpRuntime maxRequestLength="1024000" executionTimeout="720" requestValidationMode="2.0"/>
		<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
		</httpHandlers>
		<httpModules>
			<add name="SwitchModule" type="SKT.LeanMES.Web.Utility.SwitchModule"/>
		</httpModules>
		<!--<authorization>
      <deny users="?"/> 
    </authorization>-->
		<customErrors mode="Off" defaultRedirect="~/Framework/Error.aspx">
			<error statusCode="404" redirect="~/Framework/FileNotFound.aspx"/>
			<error statusCode="403" redirect="~/Framework/FileNotFound.aspx"/>
		</customErrors>
		<!--Session存储方式配置，默认情况下Session超时时间为20分钟，可配置参数timeout(单位：分钟)来调整Session超时时间，系统默认将Session存储在状态机(StateServer)，
        此种情况下服务器需要开启ASP.NET State Service，如果不使用状态机存储直接将下面一行代码注释(Session将以InProc形式存储)-->
		<sessionState mode="InProc" timeout="720" cookieless="UseCookies"/>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages validateRequest="true">
			<controls>
				<add tagPrefix="SKTControl" namespace="SKT.LeanMES.Web.Controls" assembly="SKT.LeanMES.Web"/>
				<add tagPrefix="SKTControl" tagName="PCD" src="~/AppCode/Controls/PCD.ascx"/>
			</controls>
		</pages>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="auto" uiCulture="auto"/>
		<urlMappings enabled="true">
			<add url="~/Login" mappedUrl="~/Login.aspx"/>
			<add url="~/Home" mappedUrl="~/Framework/Home.aspx"/>
			<add url="~/Expired" mappedUrl="~/Framework/Expired.aspx"/>
			<add url="~/ExpiredClient" mappedUrl="~/Framework/ExpiredClient.aspx"/>
			<add url="~/ExpiredMobile" mappedUrl="~/Mobile/Login.aspx"/>
			<add url="~/Error" mappedUrl="~/Framework/Error.aspx"/>
			<add url="~/FileNotFound" mappedUrl="~/Framework/FileNotFound.aspx"/>
			<add url="~/KB" mappedUrl="~/Kanban/KanbanPage.aspx"/>
		</urlMappings>
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
			</protocols>
		</webServices>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="SwitchModule" type="SKT.LeanMES.Web.Utility.SwitchModule"/>
		</modules>
		<directoryBrowse enabled="false"/>
		<security>
			<requestFiltering>
				<!--单位为字节 maxAllowedContentLength-->
				<requestLimits maxAllowedContentLength="2097151000"/>
				<hiddenSegments/>
			</requestFiltering>
		</security>
		<!--<staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>-->
		<applicationInitialization doAppInitAfterRestart="true">
			<clear/>
		</applicationInitialization>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NPOI.OOXML" publicKeyToken="0DF73EC7942B34E1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0DF73EC7942B34E1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.6.0" newVersion="2.5.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>