<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
	<machineKey validation="3DES" xdt:Transform="Insert" />
  </system.web>
  <system.webServer>
    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <!--检测到目标X-Content-Type-Options响应头缺失-->
        <add name="X-Content-Type-Options" value="nosniff" />
        <!--检测到目标X-XSS-Protection响应头缺失-->
        <!--<add name="X-XSS-Protection" value="1;mode=block" />-->
        <!--检测到目标Content-Security-Policy响应头缺失-->
		<add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval' blob: data: ws://127.0.0.1:53817;form-action 'self';frame-ancestors 'self'" />
        <!--检测到目标Strict-Transport-Security响应头缺失-->
        <!--<add name="Strict-Transport-Security" value="max-age=31536000" />-->
        <!--检测到目标Referrer-Policy响应头缺失-->
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
        <!--检测到目标X-Permitted-Cross-Domain-Policies响应头缺失-->
        <!--<add name="X-Permitted-Cross-Domain-Policies" value="master-only"/>-->
        <!--检测到目标X-Download-Options响应头缺失-->
        <!--<add name="X-Download-Options" value="noopen"/>-->
        <!--点击劫持：X-Frame-Options未配置-->
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
    <!--<security>
      <requestFiltering>
        --><!--IIS关闭Trace、OPTIONS方法--><!--
        <verbs allowUnlisted="false" xdt:Transform="Insert">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <rewrite xdt:Transform="Insert">
      --><!--配置HttpOnly SameSite Secure --><!--
      <outboundRules>
        <rule name="Add HttpOnly">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
          <conditions>
            <add input="{R:0}" pattern="; HttpOnly" negate="true" />
          </conditions>
          <action type="Rewrite" value="{R:0}; HttpOnly" />
        </rule>
		--><!--SameSite和 Secure是在SSL下正常使用的  BEGIN--><!--
        <rule name="Add SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
          <conditions>
            <add input="{R:0}" pattern="; SameSite" negate="true" />
          </conditions>
          <action type="Rewrite" value="{R:0}; SameSite='Lax'" />
        </rule>
		<rule name="Add Secure">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
          <conditions>
            <add input="{R:0}" pattern="; Secure" negate="true" />
          </conditions>
          <action type="Rewrite" value="{R:0}; Secure" />
        </rule>
		--><!--SameSite和 Secure是在SSL下正常使用的  END--><!--
		--><!--删除不必须要的HTTP相应头部--><!--
		<rule name="Remove Server Header">
			<match serverVariable="RESPONSE_SERVER" pattern=".*" />
			<action type="Rewrite" />
		</rule>
		<rule name="Remove X-POWERED-BY Header">
			<match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
			<action type="Rewrite" />
		</rule>
		<rule name="Remove X-ASPNET-VERSION Header">
			<match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".*" />
			<action type="Rewrite" />
		</rule>
      </outboundRules>
      --><!--跨站请求伪造CSRF漏洞的修复--><!--
      <rules>
        <clear />
        <rule name="Allow" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_REFERER}" pattern="^\s*$" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="AllowWithRefer" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
		      <add input="{HTTP_REFERER}" pattern="\s*" />
              <add input="{HTTP_REFERER}" pattern="http://localhost/8.5.6/*" />
              <add input="{HTTP_REFERER}" pattern="http://127.0.0.1/8.5.6/*" />
              <add input="{HTTP_REFERER}" pattern="http://172.16.1.150/8.5.6/*" />
              <add input="{HTTP_REFERER}" pattern="http://sktmes009/8.5.6/*" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="NotBelong" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="CustomResponse" statusCode="401" subStatusCode="40" statusReason="Not find" statusDescription="Not find" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
</configuration>